<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pogodex">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_go_fetch_complete_nowhtbg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_go_fetch_complete_nowhtbg"
        android:supportsRtl="true"
        android:theme="@style/Theme.PoGoDex">
        <activity android:name=".Activities.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.DexActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".FavoriteMonActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>